body{
    font-family: 'Courier New', Courier, monospace;
}

.dragme {
    cursor: move;
  }

.bone {
    position:relative;
    border: 1px;
    border-style: solid;
    border-color: black;
    min-height: 100px;
    min-width: 50px;
    margin: 2px;
    padding: 1px;
    float: left;
    background-color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.bottom {
    display: block;
    padding:23px 15px;
    border-top: 1px solid black;
}

.top {
    display: block;
    padding:23px 15px;
    border-bottom: 1px solid black;
}

.rotated {
    -webkit-transform : rotate(180deg); 
    -moz-transform : rotate(180deg); 
    -ms-transform : rotate(180deg); 
    -o-transform : rotate(180deg); 
    transform : rotate(180deg); 

}

.stats{
    font-size: 10pt;
}

.bonetarget {
    border: 1px;
    border-style: dashed;
    border-color: gray;
    height: 150px;
    width: 50px;
}

.btn {
    border: 1px solid black;
    font-size: 1rem;
    padding: 7px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

.btn:hover {
    background-color: lightcoral;

}

#pull {
    background-color: white;
    width: 50px;
    height: 25px;
}